/* Style for Tess Site */

body {
  background: #fefefa;
  margin: 1rem;
  padding: 1rem;
  max-width: 1100px;
  margin: 2rem auto;
  font-family: "Yeseva One", Yeseva One;
}

.image {
      position: relative;
      width: 10%;
      float: left;
      height: 10%;
}

.resources {
  position: relative;
  width: 30%;
  float: left;
  height: 100%;
}

.news {
position: relative;
display: flexbox;
width: 70%;
float: right;
height: 100%
}

.warning {
    color: red;
}
/* login form */
.form-signin {
  max-width: 330px;
  margin-top: 5em auto 0 auto;  /* TRBL */
}