/* Style for Tess Site */

body {
  background: #fefefa;
  margin: 1rem;
  padding: 1rem;
  max-width: 1100px;
  margin: 2rem auto;
  font-family: serif;
}

.resources {
  position: relative;
  width: 30%;
  float: left;
  height: 100%;
}

.news {
position: relative;
display: flexbox;
width: 70%;
float: right;
height: 100%
}

label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 350px;
  line-height: 26px;
  margin-bottom: 10px;
}

input {
  height: 20px;
  flex: 0 0 200px;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:focus {
  border-bottom: 1px solid;
}

a:hover {
  border-bottom: 1px solid;
  color: #214761;
}

a:active {
  font-weight: bold;
}

#loginButton {
  background-color: #fefefa;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
}

#registerButton {
  background-color: #fefefa;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
}