/* Style for TESS SYSTEM */

body {
  background: #fefefa;
  margin: 1rem;
  padding: 1rem;
  max-width: 1100px;
  margin: 2rem auto;
  font-family: serif;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 350px;
  line-height: 26px;
  margin-bottom: 10px;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:focus {
  border-bottom: 1px solid;
}

a:hover {
  border-bottom: 1px solid;
  color: #214761;
}

a:active {
  font-weight: bold;
}

#loginButton {
  background-color: #fefefa;
  padding: 7px;
  font-weight: bold;
  border-radius: 5px;
  border-width: thin;
}

#registerButton {
  background-color: #fefefa;
  padding: 7px;
  font-weight: bold;
  border-radius: 5px;
  border-width: thin;
}

.spaced {
  margin-left:20px; 
  margin-top: 20px;
}

textarea {
  font-size: large;
  font-weight: bolder;
  border: none;
  background-color: #fefefa;
}

text {
  text-align: center;
}

input {
  height: 20px;
  flex: 0 0 200px;
}

.login {
  width: 265px;
}

.news {
  font-size: large;
}

.board {
  font-size: large;
  font-weight: bold
}

.invisible {
  visibility: hidden;
}

.error {
  font-weight: bolder;
  color: red;
}

.flex-parent-element {
  display: flex;
  width: 49%;
}

.flex-child-element {
  flex: 1;
  min-width: 480px;
  justify-content: left;
}

.flex-child-element:first-child {
  justify-content: right;
}
