{% extends 'base.html' %}
{% block content %}

 <h1>TESS {{ community_name }}</h1>
 
 <input type="number" id="ciimatiq" name="CO2" readonly> (( CO2 )) </input>
 <input type="number" id="ciimatiq" name="AQI" readonly> (( AQI )) </input>
  
 <div class="well spaced" style="width:50%;">
  <ul>
    {% for community_resource_link in community_resouces %}
      <li>
        <a href="/communities/{{ community_resource_link }}">{{ community_resource_link_name }}</a>
        </a>
      </li>
    {% endfor %}
  </ul>
 </div>

 <div class="well spaced" style="width:50%;">
  <ul>
    {% for community_event in community_events %}
      <li>
        <a href="/communities/{{ community_events }}">
        </a>
      </li>
    {% endfor %}
  </ul>
 </div>

{% endblock %}