{% extends 'base.html' %}
{% block content %}

 <h1 class="header1">TESS {{ community_name }}</h1>
 
 <input type="number" id="ciimatiq" name="CO2" readonly> CO2 </input><br></br>
 <input type="number" id="ciimatiq" name="AQI" readonly> AQI </input>
  
 <div><br></br>
 <form action="/community" class="H3" method="GET">
  <ul>
    {% for community_board_title in user_community_boards %}
        <h3><a href="/community">{{ community_board_title }}</a></h3>
    {% endfor %}
  </ul>
 </form>
  <br></br>
  <form>
  <ul>
    {% for key, value in user_community_events.items() %}
        <h3><a href="{{ value }}">{{ key }}</a></h3>
        </a>
    {% endfor %}
  </ul>
</form>
</div>

{% endblock %}