{% extends 'base.html' %}
{% block content %}

 <h1 style="display:inline; margin-left:400px" style="position:center">TESS {{ community_name }}</h1>

 <p style="display:inline">
 <img style="display:inline; position:relative; margin-left:350px" height="80" width="80" src="static/tess_logo1.png" />
 </p>

 <text style="font-weight: bold">WEATHER: {{ weather_description }}</text><br></br>
 <text style="font-weight: bold">PM2.5 COUNT: {{ pm2_5 }}</text><br></br>

 <div class="flex-parent-element"><br></br>
  
 <div class="flex-child-element">
 <form action="/community" method="GET">
  <ul>
    {% for community_board_title in user_community_boards %}
        <h3><a href="/community_board" title="Community Board">{{ community_board_title }}</a></h3>
    {% endfor %}
  </ul>
 </form>
</div>

<div class="flex-child-element:first-child"><br></br>
  <form action="/community" method="GET">
  <ul>
    {% for key, value in user_community_events.items() %}
        <textarea rows="10" cols="55" readonly>{{ key }} {{ value }}</textarea>
    {% endfor %}
  </ul>
</form>
</div>

{% endblock %}