{% extends 'base.html' %}
{% block content %}

  <h1 class="header1">TESS GLOBAL</h1>

  <input type="number" id="ciimatiq" name="CO2" readonly> CO2 </input><br></br>
  <input type="number" id="ciimatiq" name="AQI" readonly> AQI </input>
  
  <div class="H3" style="width:50%;"><br></br>
   <form action="/global" method="GET">
    <ul>
      {% for key, value in user_global_resources.items() %}
          <h3><a href="{{ value }}">{{ key }}</a></h3>
      {% endfor %}
    </ul>
  </form>
  </div>

{% endblock %}