{% extends 'base.html' %}
{% block content %}

  <h1 class="header1">TESS GLOBAL</h1>

  <input type="number" id="airvisual" name="weather" readonly> Weather </input><br></br>
  <input type="number" id="airvisual" name="AQI" readonly> AQI </input>
  
  <div class="H3" style="width:50%;"><br></br>
   <form action="/global" class="H3" method="GET">
    <ul>
      {% for key, value in user_global_resources.items() %}
          <h3><a href="{{ value }}">{{ key }}</a></h3>
      {% endfor %}
    </ul>
  </form>
  </div>

  <div class="wrapper">
    <textarea id="guardian" name="guardian" rows="5" cols="55" readonly"></textarea>
  </div>

{% endblock %}