{% extends 'base.html' %}
{% block content %}

  <h1 class="header1">TESS HOME</h1>

  <input type="number" id="airvisual" name="weather" class="home" maxlength="3" readonly> Weather </input><br></br>
  <input type="number" id="airvisual" name="AQI" class="home" maxlength="3" readonly> AQI </input>
  
  <div><br></br>
  <form action="/home" class="H3" method="GET">
  <ul>
    {% for key, value in user_home_resources.items() %}
     <h3><a href="{{ value }}">{{ key }}</a></h3>
    {% endfor %}
  </ul>
  </form>
  </div>

{% endblock %}