{% extends 'base.html' %}
{% block content %}

  <h1 class="header1">TESS HOME</h1>

  <input type="number" id="ciimatiq" name="CO2" class="home" maxlength="3" readonly> CO2 </input><br></br>
  <input type="number" id="ciimatiq" name="AQI" class="home" maxlength="3" readonly> AQI </input>
  
  <div><br></br>
  <form action="/home" class="H3" method="GET">
  <ul>
    {% for home_resource_link in user_home_resources %}
     <h3><a href="{{ home_resource_link }}">LINK</a></h3>
    {% endfor %}
  </ul>
  </form>
  </div>

{% endblock %}