{% extends 'base.html' %}
{% block content %}

 <h1 style="display:inline; margin-left:400px" style="position:center">TESS HOME</h1>

 <p style="display:inline">
 <img style="display:inline; position:relative; margin-left:375px" height="80" width="80" src="static/tess_logo1.png" />
 </p>
 
 <text style="font-weight: bold">WEATHER: {{ weather_description }}</text><br></br>
 <text style="font-weight: bold">PM2.5 COUNT: {{ pm2_5 }}</text><br></br>
 
  <div class="flex-parent-element"><br></br>

  <div class="flex-child-element">
  <form action="/home" method="GET">
  <ul>
    {% for key, value in user_home_resources.items() %}
     <h3><a href="{{ value }}">{{ key }}</a></h3>
    {% endfor %}
  </ul>
  </form>
  </div>
  
  <div class="flex-child-element:first-child">
    <form action="/nation" method="GET">
      <ul>
        {% for key, value in returned_response.items() %}
         <h3 class="news" display: inline; style="font: weight 750px"><a href="{{ value }}">{{ key }}</a></h3>
         {% endfor %}
      <div class="invisible">
         {% for key, value in returned_image.items() %}
         <img src="{{ value }}" display: inline;></img>
        {% endfor %}
      </div>
      </ul>
    </form>
  </div>

{% endblock %}