{% extends 'base.html' %}
{% block content %}

<h1 class="header1"> TESS {{ nation_name }}</h1>

<input type="number" id="airvisual" name="weather" readonly> Weather </input><br></br>
<input type="number" id="airvisual" name="AQI" readonly> AQI </input>

<div><br></br>
  <form action="/nation" class="H3" method="GET">
  <ul>
    {% for key, value in user_national_resources.items() %}
     <h3><a href="{{ value }}">{{ key }}</a></h3>
    {% endfor %}
  </ul>
  </form>
</div>

<div class="wrapper">
  <textarea id="guardian" name="guardian" rows="5" cols="50" readonly></textarea>
</div>

{% endblock %}