{% extends 'base.html' %}
{% block content %}

<h1 class="header1"> TESS {{ nation_name }}</h1>

<text id="iqair" name="AQI" readonly>AQI</text>
<br></br>

<div class="flex-parent-element"><br></br>

<div>
  <form action="/nation" class="flex-child-element" method="GET">
  <ul>
    {% for key, value in user_national_resources.items() %}
     <h3><a href="{{ value }}">{{ key }}</a></h3>
    {% endfor %}
  </ul>
  </form>
</div>

<div class="flex-child-element:first-child"><br></br>
  <textarea id="guardian" name="guardian" rows="10" cols="55" readonly></textarea>
</div>

{% endblock %}