{% extends 'base.html' %}
{% block content %}

<h1> TESS {{ nation_name }}</h1>

<input type="number" id="ciimatiq" name="CO2" readonly> CO2 </input>
<input type="number" id="ciimatiq" name="AQI" readonly> AQI </input>

<div class="wellspaced" style="width:50%;">
 <form action="/nation" method="GET">
  <ul>
    {% for i in user_national_resouces %}
      <li>
        <a href="/nation/{{ user_national_resource_link }}">{{ user_national_resource_name }}</a>
        </a>
      </li>
    {% endfor %}
  </ul>
  </form>
</div>

{% endblock %}