{% extends 'base.html' %}
{% block content %}

<h1 class="header1">THE EARTH SAVE SYSTEM</h1>

<h2>Register</h2>

<form action="/register" method="POST">
  <div>
    <label>
      Name:
      <input type="username" name="username" class= required>
    </label>
  <p></p>
    <label>
      One Time Password:
      <input type="text" name="one_time_password" required>
    </label>
  <p></p>
    <label>
      New Password:
      <input type="text" name="new_password" required>
    </label>
  <p></p>
    <label>
      Confirm New Password:
      <input type="text" name="new_password" required>
    </label>
  <p></p>
    <button id="registerButton" value="Register">Register</button>
  </div>
</form>

{% endblock %}