{% extends 'base.html' %}
{% block content %}

<h1 class="header1">TESS {{ state_region_name  }}</h1>

<div>
<text id="airvisual" name="weather" display: inline-block; readonly>Weather</text>
<text id="name" name="name"  display: inline-block; float: right; width: 100%; readonly>{{ user_name }}</text>
</div>
<textid="airvisual" name="AQI" readonly>AQI</text>

<div class="flex-parent-element"><br></br>
  
 <div>
  <form action="/state_region" class="flex-child-element" method="GET">
  <ul>
    {% for key, value in user_state_region_resources.items() %}
        <h3><a href="{{ value }}">{{ key }}</a></h3>
    {% endfor %}
  </ul>
</form>
</div>

<div class="flex-child-element:first-child"><br></br>
  <textarea id="guardian" name="guardian" rows="5" cols="50" readonly"></textarea>
</div>

{% endblock %}