{% extends 'base.html' %}
{% block content %}

<h1 class="header1">TESS {{ state_region_name  }}</h1>

<input type="number" id="ciimatiq" name="CO2" readonly> CO2 </input><br></br>
<input type="number" id="ciimatiq" name="AQI" readonly> AQI </input>
  
 <div class="wellspaced" style="width:50%;">
  <form action="/state_region" method="GET">
  <ul>
    {% for i in user_state_region_resources %}
      <li>
        <a href="/state_region/{{ state_region_resource_link }}">{{ state_region_resource_name }}</a>
        </a>
      </li>
    {% endfor %}
  </ul>
</form>
</div>

{% endblock %}